@import url('https://fonts.googleapis.com/css2?family=Baloo+Chettan+2:wght@400..800&family=Chilanka&family=Gayathri:wght@100;400;700&display=swap');
@import "tailwindcss";

html {
    scroll-behavior: smooth;
}

.chilanka {
    font-family: "Chilanka", cursive;
    font-weight: 400;
    font-style: normal;
}

.gayathri-thin {
    font-family: "Gayathri", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.gayathri-regular {
    font-family: "Gayathri", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.gayathri-bold {
    font-family: "Gayathri", sans-serif;
    font-weight: 870;
    font-style: normal;
}


.baloo-chettan{
    font-family: "Baloo Chettan 2", sans-serif;
    font-optical-sizing: auto;
}
